body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  color: green;
  font-weight: bold;
  font-size: 48px;
  font-style: italic;
}
